body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0;

	background-color: #34314c;
	color: #47b8e0;
}


/*Boutons*/
select, input, .check {
	background-color: #34314c;
	color: #47b8e0;
	font-size: 1.2em;
	padding: 10px;
	margin: 10px auto;
	border: #47b8e0 solid 1px;
}

.check:hover {
	background-color: #47b8e0;
	color: #fff;
}

.restart {
	background-color: #D499B9;
	color: #9055A2;
	font-size: 0.3em;
	padding: 10px;
	margin: 10px auto;
	border: #9055A2 solid 1px;
}
.restart:hover {
	background-color: #9055A2;
	color: #D499B9;
	border: #D499B9 solid 2px;
}



.container{
	width: auto;
	display: flex;
	margin: 30px auto;
}

.inputBlock {
	justify-content: center;
	flex-direction: column;
	margin: 5px;
}
.buttonContainer{
	display: flex;
	width: auto;
	justify-content: center;
}

/*Messages*/
.error {
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	padding: 7px;
	color: #fff;
	background-color: #ff7473;
	padding-top: 10px;
	align-items: center;
}

.overlay{
	width: 100%;
	height: 100%;
	font-size: 100pt;
	line-height: 1.9em;
	background-color: #9055A2;
	color: #D499B9;
	position: fixed;
	text-align: center;
}

h1 {
	margin: 20px auto;
}